{
  "api": {
    "username": "mediators@openhim.org",
    "password": "{{ openhim_mediator_password }}",
    "apiURL": "https://localhost:8080",
    "trustSelfSigned": {{ allow_self_signed }}
  },
  "register": true
}