# the * allow this to be ignored if an ssl-files.conf file doesn't exist
include  /etc/nginx/conf.d/ssl*.conf;

worker_processes auto;

events {
  worker_connections  1024;
}

http {
  include mime.types;
  sendfile on;

  server {
    listen 80;
    root /usr/share/openhim-console;
  }

  server {
    listen 443 ssl;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    root /usr/share/openhim-console;
  }
}
