{
  "Users": [
    {
      "email": "mediators@openhim.org",
      "firstname": "Mediators",
      "groups": [
        "admin"
      ],
      "passwordAlgorithm": "sha512",
      "passwordHash": "551f410020a0bf1241736e410ee41cfee3ed170e7bdb473c35450dc4213186b763817e9f84914792983a9536738ebbbb361800ad324a0ddc90db5ba00d128593",
      "passwordSalt": "6d0be3d8021303ed342a6cbce69e5b53",
      "surname": "User"
    }
  ],
  "Clients": [
    {
      "passwordSalt": "af5534debb70d9e05a5c7ab22f19ede9",
      "passwordHash": "f5cd8ee88e2e0a7d9dba920d2b23c5f8d13aa4d61e2f712c6b233386c90374ee18257e1a147da772bf92f73ad14d9977be91466d3bcf2aa3a56a0a83c1c9c0c4",
      "passwordAlgorithm": "sha512",
      "name": "ADX adaptor",
      "clientID": "adx-adaptor",
      "certFingerprint": "7C:56:E1:9E:47:ED:4D:BD:D2:6C:81:47:D1:A0:AB:F7:BF:57:A7:4C",
      "roles": [
        "exporter"
      ]
    },
    {
      "passwordSalt": "82c859c104f99ac85cf92ea90a5c8aa1",
      "passwordHash": "5b72905d61d5b3fe8ca7141fe59ff66870ba53556805d4ce251a0fb96b66791adc24a45db644be08fa85a9568e083be32a182d6ab0b5d1a30991e81a3ad94786",
      "passwordAlgorithm": "sha512",
      "name": "OpenInfoMan",
      "clientID": "openinfoman",
      "certFingerprint": "1C:65:DB:D4:C4:F4:67:DB:45:D9:DC:85:F2:B1:65:96:BA:E7:3B:8E",
      "roles": [
        "metadata"
      ]
    },
    {
      "clientID": "datim-global",
      "name": "datim-global",
      "certFingerprint": "A6:43:D1:21:A1:07:13:2E:97:05:1B:94:E1:34:03:55:9B:DD:74:FE",
      "roles": [
        "metadata"
      ]
    }
  ],
  "Channels": [
    {
      "requestBody": true,
      "pollingSchedule": null,
      "name": "Node ILR",
      "matchContentXpath": null,
      "matchContentValue": null,
      "matchContentRegex": null,
      "matchContentJson": null,
      "description": "Forwards request to the Node ILR",
      "responseBody": true,
      "tcpHost": null,
      "tcpPort": null,
      "urlPattern": "^/node/ilr($|/.*)",
      "autoRetryPeriodMinutes": 60,
      "autoRetryEnabled": false,
      "rewriteUrlsConfig": [],
      "addAutoRewriteRules": true,
      "rewriteUrls": false,
      "status": "enabled",
      "alerts": [],
      "txRerunAcl": [],
      "txViewFullAcl": [
        "view"
      ],
      "txViewAcl": [
        "view"
      ],
      "properties": [],
      "matchContentTypes": [],
      "routes": [
        {
          "password": "",
          "name": "Node ILR",
          "secured": false,
          "host": "localhost",
          "port": 8984,
          "path": "",
          "pathTransform": "s/node\\/ilr\\///",
          "primary": true,
          "username": "",
          "forwardAuthHeader": false,
          "status": "enabled",
          "type": "http"
        }
      ],
      "authType": "private",
      "whitelist": [],
      "allow": [
        "metadata"
      ],
      "type": "http"
    },
    {
      "requestBody": true,
      "pollingSchedule": null,
      "name": "Global ILR",
      "matchContentXpath": null,
      "matchContentValue": null,
      "matchContentRegex": null,
      "matchContentJson": null,
      "description": "Allow access to global metadata via CSD",
      "responseBody": true,
      "tcpHost": null,
      "tcpPort": null,
      "urlPattern": "^/global/ilr/CSD($|/.*)",
      "autoRetryPeriodMinutes": 60,
      "autoRetryEnabled": false,
      "rewriteUrlsConfig": [],
      "addAutoRewriteRules": true,
      "rewriteUrls": false,
      "status": "enabled",
      "alerts": [],
      "txRerunAcl": [],
      "txViewFullAcl": [
        "view"
      ],
      "txViewAcl": [
        "view"
      ],
      "properties": [],
      "matchContentTypes": [],
      "routes": [
        {
          "password": "test",
          "name": "CSD",
          "cert": null,
          "username": "datim-node-demo",
          "primary": true,
          "pathTransform": "",
          "path": "",
          "port": 5000,
          "host": "{{ global_openhim_hostname }}",
          "secured": true,
          "forwardAuthHeader": false,
          "status": "enabled",
          "type": "http"
        }
      ],
      "authType": "private",
      "whitelist": [],
      "allow": [
        "metadata"
      ],
      "type": "http"
    },
    {
      "responseBody": true,
      "requestBody": true,
      "pollingSchedule": "0 4 * * *",
      "name": "AUTO Update Node ILR Facts-Info document from Global",
      "matchContentXpath": null,
      "matchContentValue": null,
      "matchContentRegex": null,
      "matchContentJson": null,
      "tcpHost": null,
      "tcpPort": null,
      "urlPattern": "^/datim-global$",
      "autoRetryPeriodMinutes": 60,
      "autoRetryEnabled": false,
      "rewriteUrlsConfig": [],
      "addAutoRewriteRules": true,
      "rewriteUrls": false,
      "status": "enabled",
      "alerts": [],
      "txRerunAcl": [],
      "txViewFullAcl": [
        "view"
      ],
      "txViewAcl": [
        "view"
      ],
      "properties": [],
      "matchContentTypes": [],
      "routes": [
        {
          "secured": true,
          "host": "localhost",
          "port": 5000,
          "path": "/node/ilr/CSD/pollService/directory/DATIM-FactsInfo/update_cache",
          "pathTransform": "",
          "primary": true,
          "username": "openinfoman",
          "password": "test",
          "name": "Update FactsInfo doc",
          "cert": null,
          "forwardAuthHeader": false,
          "status": "enabled",
          "type": "http"
        }
      ],
      "authType": "private",
      "whitelist": [],
      "allow": [
        "openinfoman"
      ],
      "type": "polling"
    },
    {
      "responseBody": true,
      "requestBody": true,
      "pollingSchedule": "30 4 * * *",
      "name": "AUTO Update mech in DHIS2 via mech importer",
      "matchContentXpath": null,
      "matchContentValue": null,
      "matchContentRegex": null,
      "matchContentJson": null,
      "tcpHost": null,
      "tcpPort": null,
      "urlPattern": "^/mechanisms$",
      "autoRetryPeriodMinutes": 60,
      "autoRetryEnabled": false,
      "rewriteUrlsConfig": [],
      "addAutoRewriteRules": true,
      "rewriteUrls": false,
      "status": "enabled",
      "alerts": [],
      "txRerunAcl": [],
      "txViewFullAcl": [],
      "txViewAcl": [],
      "properties": [],
      "matchContentTypes": [],
      "routes": [
        {
          "password": "",
          "name": "Mechanisms update",
          "secured": false,
          "host": "localhost",
          "port": 1777,
          "path": "/",
          "pathTransform": "",
          "primary": true,
          "username": "",
          "forwardAuthHeader": false,
          "status": "enabled",
          "type": "http"
        }
      ],
      "authType": "private",
      "whitelist": [],
      "allow": [
        "openinfoman"
      ],
      "type": "polling"
    },
    {
      "description": "Exports ADX or DXF messages to DATIM global",
      "matchContentJson": null,
      "matchContentRegex": null,
      "matchContentValue": null,
      "matchContentXpath": null,
      "name": "ADX/DXF export channel",
      "pollingSchedule": null,
      "tcpHost": null,
      "tcpPort": null,
      "urlPattern": "^/export.*$",
      "autoRetryPeriodMinutes": 60,
      "autoRetryEnabled": false,
      "rewriteUrlsConfig": [],
      "addAutoRewriteRules": true,
      "rewriteUrls": false,
      "status": "enabled",
      "alerts": [],
      "txRerunAcl": [],
      "txViewFullAcl": [
        "view"
      ],
      "txViewAcl": [
        "view"
      ],
      "properties": [],
      "matchContentTypes": [],
      "routes": [
        {
          "primary": true,
          "pathTransform": "",
          "path": "/datim",
          "port": 4002,
          "host": "localhost",
          "secured": false,
          "name": "File queue",
          "password": "",
          "username": "",
          "forwardAuthHeader": false,
          "status": "enabled",
          "type": "http"
        }
      ],
      "authType": "private",
      "whitelist": [],
      "allow": [
        "exporter"
      ],
      "type": "http"
    },
    {
      "responseBody": true,
      "requestBody": true,
      "pollingSchedule": null,
      "name": "AUTO Trigger update of locally managed sites to global",
      "matchContentXpath": null,
      "matchContentValue": null,
      "matchContentRegex": null,
      "matchContentJson": null,
      "tcpHost": null,
      "tcpPort": null,
      "urlPattern": "^/trigger-site-update-for-global$",
      "autoRetryPeriodMinutes": 60,
      "autoRetryEnabled": false,
      "rewriteUrlsConfig": [],
      "addAutoRewriteRules": true,
      "rewriteUrls": false,
      "status": "enabled",
      "alerts": [],
      "txRerunAcl": [],
      "txViewFullAcl": [
        "view"
      ],
      "txViewAcl": [
        "view"
      ],
      "properties": [],
      "matchContentTypes": [],
      "routes": [
        {
          "password": "",
          "username": "",
          "primary": true,
          "pathTransform": "",
          "path": "/trigger",
          "port": 4002,
          "host": "localhost",
          "secured": false,
          "name": "File queue",
          "forwardAuthHeader": false,
          "status": "enabled",
          "type": "http"
        }
      ],
      "authType": "private",
      "whitelist": [],
      "allow": [
        "exporter"
      ],
      "type": "http"
    }
  ]
}